.Navigationitems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; /*To align items next to each other*/
  flex-flow: column;
  align-items: center; /*vertically centered*/
  height: 100%;
  /* background-color: teal; */
}

@media (min-width: 500px) {
  .Navigationitems {
    flex-flow: row;
  }
}
